<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.test.mapper.AlbumMapper">
    <resultMap id="ac" type="com.baizhi.test.entity.Album">
        <id column="aid" property="id"></id>
        <result column="atitle" property="title"/>
        <result column="count" property="count"/>
        <result column="coverImg" property="coverImg"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="broadcast" property="broadcast"/>
        <result column="brief" property="brief"/>
        <result column="publishDate" property="publishDate"/>
        <collection property="children" ofType="com.baizhi.test.entity.Chapter">
            <id column="cid" property="id"/>
            <result property="title" column="ctitle"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="url" property="url"/>
            <result column="uploadDate" property="uploadDate"/>
        </collection>
    </resultMap>
    <select id="queryAllAlbum" resultMap="ac">
        SELECT a.id           aid,
               a.title        atitle,
               a.count,
               a.cover_img    coverImg,
               a.score,
               a.author,
               a.broadcast,
               a.brief,
               a.publish_date publishDate,
               c.id           cid,
               c.title        ctitle,
               c.size,
               c.duration,
               c.url,
               c.upload_date  uploadDate,
               c.album_id
        from album a
                 LEFT JOIN chapter c
                           ON a.id = c.album_id
    </select>
    <select id="queryAllAlbumByPage" resultMap="ac">
        SELECT b.aid,
               b.atitle,
               b.count,
               b.coverImg,
               b.score,
               b.author,
               b.broadcast,
               b.brief,
               b.publishDate,
               c.id          cid,
               c.title       ctitle,
               c.size,
               c.duration,
               c.url,
               c.upload_date uploadDate,
               c.album_id
        from
            (SELECT a.id           aid,
                    a.title        atitle,
                    a.count,
                    a.cover_img    coverImg,
                    a.score,
                    a.author,
                    a.broadcast,
                    a.brief,
                    a.publish_date publishDate
             from album a
                  limit
                  ${(page-1)*rows},
                  ${rows}) b
                LEFT JOIN chapter c
                          on b.aid = c.album_id

    </select>
</mapper>