<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.test.mapper.MenuMapper">
    <select id="queryAllMenu" resultType="com.baizhi.test.entity.Menu">
        select *
        from menu
        where parent_id is null
    </select>

    <select id="querySecondTitle" resultType="com.baizhi.test.entity.Menu" parameterType="java.lang.Integer">
        select *
        from menu
        where parent_id = #{pid}
    </select>
</mapper>