<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
    <select id="queryOneWeek" resultType="java.lang.Integer" parameterType="java.lang.Integer">
         <![CDATA[
        SELECT count(*)
        from users
        where DATEDIFF(NOW(), regist_date) < #{week}
        ]]>
    </select>

    <select id="queryTwoWeek" resultType="java.lang.Integer">
        <![CDATA[
        SELECT count(*)
        from users
        where DATEDIFF(NOW(), regist_date) < 14
        ]]>
    </select>
    <select id="queryThreeWeek" resultType="java.lang.Integer">
        <![CDATA[
        SELECT count(*)
        from users
        where DATEDIFF(NOW(), regist_date) < 21
        ]]>
    </select>
    <select id="userRegion" resultType="com.baizhi.entity.Province">
        select province name,count(*) value
        from users
        group by province

    </select>
</mapper>